body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    display: flex;
    background-color: lightblue;
    flex-wrap: wrap;
    width:800px;
    height:800px; 
    
    
}
.content {
   display: flex;
   box-sizing: border-box;
    height:50px;
    width:50px;
    background-color: white;
    border: 1px solid black;
    padding:0px;
    margin:0px;
  
}