#container {
    display: flex;
    background-color: lightblue;
    
    
    
}
.content {
   display: flex;
    height:auto;
    width:200px;
    background-color: white;
    border: 5px solid black;
    padding:50px;
    margin:20px;
    flex-wrap: wrap;
    
}